<cs>
<br><![CDATA[{branches}]]></br>
<tg><![CDATA[{tags}]]></tg>
<rv v="{rev}"/>
<ns v="{node|short}"/>
<nl v="{node}"/>
<di v="{date|isodate}"/>
<da v="{date|age}"/>
<au v="{author|person|escape}"/>
<pr v="{parents}"/>
<de>{desc|escape|tabindent}</de>
<fa>{file_adds}</fa>
<fd>{file_dels}</fd>
<fl>{file_mods}</fl>
<fc>{file_copies}</fc>
</cs>