*.class
**/*.class
**/.classpath
**/.project
.classpath
.project
cleancode-core/**/*.class
cleancode-core/bin
mercurial-driver/bin
cleancode-core/target
cleancode-core-tests/target
mercurial-driver/target
mercurial-driver-tests/target
.sonar
target
mercurialEclipse
mercurialEclipse/**/*
tmp
bin
release
