*.class
**/*.class
cleancode-core/**/*.class
cleancode-core/target
cleancode-core-tests/target
mercurial-driver/target
mercurial-driver-tests/target
.sonar
target
mercurialEclipse
mercurialEclipse/**/*
tmp
