*.class
**/*.class
cleancode-core/target
cleancode-core-tests/target
mercurial-driver/target
mercurial-driver-tests/target
**/.project
**/.classpath
**/.settings
.settings
target
mercurialEclipse
mercurialEclipse/**/*
tmp
