<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.keebraa.java.cleancode.core.changeSetFactory" name="changeSetFactory" schema="schema/changeSetFactory.exsd"/>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="com.keebraa.cleancode.core.underControlDefinition">
			<test
             	property="org.eclipse.core.resources.projectPersistentProperty">
             </test>
        </definition>
    </extension>

<extension point="org.eclipse.ui.popupMenus">
      <objectContribution adaptable="true"
            id="com.keebraa.java.cleancode.core.createReview.mercurial"
            objectClass="org.eclipse.core.resources.IProject">
        	<filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository">
    		</filter>
         <action
               class="com.keebraa.java.cleancode.core.actions.CreateReviewAction"
               id="com.keebraa.java.cleancode.core.actions.createReviewAction"
               label="Create CodeReview"          
               enablesFor="1"
               menubarPath="team.main/group3" >
         </action>
      </objectContribution>
   </extension>
</plugin>
