<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.keebraa.java.cleancode.core.comitRepositoryFactory">
      <comitRepositoryFactory
            factory="com.keebraa.java.cleancode.repository.MercurialComitRepositoryFactory">
      </comitRepositoryFactory>
   </extension>
</plugin>
