<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.keebraa.java.cleancode.core.comitRepository">
      <commitRepository
            repository="com.keebraa.java.cleancode.repository.MercurialComitRepository">
      </commitRepository>
   </extension>
</plugin>
